body {
    text-align: center;
    background-color: bisque;
}

div{
    margin-top: 15px;
}
.image-section{
    display: flex;
    justify-content: center;
}
section{
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
}